<!doctype html>

<html ng-app="plunker">

<meta charset="utf-8">
<title>Application</title>

<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jQuery -->
<script type='text/javascript' src='bower_components/jquery/dist/jquery.min.js'></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- AngularJS -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/myscript.js"></script>


<script>document.write('<base href="' + document.location + '" />');</script>
<!-- Ng-tags-input-->
<link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css"/>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>

<!-- Custom styles -->
<link rel="stylesheet" href="css/style.css">

<!-- Wenzhinxin Table -->
<link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.min.css">
<script src="bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="bower_components/tableExport/index.js"></script>
<script src="bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>


</head>

<body ng-controller="MainCtrl">
<div class="ribbon">
    <a href="https://github.com/sajmmon/Pilincs" target="_blank">View source on GitHub</a>
</div>
<h1></h1>
<div class="container">
    <div class="row">
        <p class="span8 offset2">

        <div class="control-group">
            <form ng-submit="add()">
                <div class="row">
                    <!--<p>Assays: </p>-->
                    <div class="btn-group col-sm-2" style="top: 5px; ">
                        <button type="button" ng-click="toggleP100()" ng-show="p100" class="btn btn-default" style=" font-weight: bold;padding-left:25px;padding-right:25px;">P100</button>
                        <button type="button" ng-click="toggleP100()" ng-hide="p100" class="btn btn-default" style=" font-weight: normal;padding-left:25px;padding-right:25px;">P100</button>
                        <button type="button" ng-click="toggleGcp()" ng-show="gcp" class="btn btn-default" style=" font-weight: bold;padding-left:25px;padding-right:25px;">GCP</button>
                        <button type="button" ng-click="toggleGcp()" ng-hide="gcp" class="btn btn-default" style=" font-weight: normal;padding-left:25px;padding-right:25px;">GCP</button>

                    </div>

                    <div class="controls  col-sm-7">
                        <tags-input ng-model="tags"
                                    display-property="name"
                                    class="bootstrap"
                                    placeholder="Add annotation"
                                    add-from-autocomplete-only="true">
                            <auto-complete
                                    source="loadTags($query)"
                                    min-length="0"
                                    load-on-empty="false"
                                    max-results-to-show="90"
                                    debounce-delay="100"
                                    template="my-custom-template">
                            </auto-complete>
                        </tags-input>
                    </div>


                    <script type="text/ng-template" id="my-custom-template">
                        <div class="left-panel">
                            <span ng-class="data.flag" class="label label-info">{{data.flag}}</span>

                        </div>
                        <div class="mid-panel">
                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                        </div>
                        <div class="right-panel">
                            <!--<span>({{data.rank}})</span>-->
                            <!--<span>{{data.annotation}}</span>-->
                        </div>
                    </script>


                    <div class="btn-group col-sm-2" style="top: 5px;">
                        <input type="submit" ng-click="tagInputClicked()" value="Search assays" class="btn btn-primary"/>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            <span class="caret"></span>
                            <!--<span class="sr-only">Toggle option</span>-->
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" target="_blank">Advanced search</a></li>
                        </ul>
                    </div>

                </div>
            </form>
        </div>
        <h1></h1>

        <div class="row">
            <div class="col-sm-offset-2" style="padding-left: 15px;">
                <span>You may like:</span>
            <span ng-repeat="item in recommended">
                        <button ng-click="updateTags(item)" class="btn btn-default btn-xs" type="button">{{item}}</button>
                    </span>
            </div>
        </div>
        <h1></h1>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td align="center" width="25%"><h4><a href="#" style="color: #286090;">Show Peaks </a></h4></td>
                <td align="center" width="25%"><h4><a href="#">Show Profiles </a></h4></td>
                <td align="center" width="25%"><h4><a href="#">Show Relations </a></h4></td>
                <td align="center" width="25%"><h4><a href="#">Show API </a></h4></td>
            </tr>
            </tbody>
        </table>

        <table id="tablePeaks"></table>


    </div>
</div>
</div>
</div>

</body>
</html>