<!doctype html>

    <meta charset="utf-8">
    <title>Application</title>
    <head>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jQuery -->
        <script type='text/javascript' src='bower_components/jquery/dist/jquery.min.js'></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directive.js"></script>


        <script>document.write('<base href="' + document.location + '" />');</script>
        <!-- Ng-tags-input-->
        <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css"/>
        <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>

        <!-- Custom styles -->
        <link rel="stylesheet" href="css/style.css">

        <!-- Wenzhinxin Table -->
        <link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.min.css">
        <script src="bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
        <script src="bower_components/tableExport/index.js"></script>
        <script src="bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

        <!-- Sparkline -->
        <!--<script src="bower_components/peity/minified.js"></script>-->

        <!-- D3js-->
        <script src="bower_components/d3.v2/index.js"></script>
    </head>
    <body ng-app="pilincs">

    <div class="container" ng-controller="MainCtrl" style="padding-top: 30px;">

        <!-- Ribbon -->
        <div class="ribbon">
            <a href="https://github.com/sajmmon/Pilincs" target="_blank">View source on GitHub</a>
        </div>

        <!-- Searching -->
        <div class="row" style="padding-bottom: 25px;">
            <form>
                <div class="btn-group col-sm-3" style="top: 5px;">
                    <button type="button" ng-click="toggle('p100')" class="btn btn-default"
                            ng-class="getToggleClass(p100)">P100
                    </button>
                    <button type="button" ng-click="toggle('gcp')" class="btn btn-default"
                            ng-class="getToggleClass(gcp)">GCP
                    </button>
                    <button type="button" ng-click="toggle('l1000')" class="btn btn-default disabled"
                            ng-class="getToggleClass(l1000)">L1000
                    </button>
                </div>

                <div class="controls  col-sm-6">

                    <tags-input ng-model="tags"
                                display-property="name"
                                class="bootstrap"
                                placeholder="Add annotation"
                                on-tag-added="tagAddedRemoved()"
                                on-tag-removed="tagAddedRemoved()"
                                add-from-autocomplete-only="true">
                        <auto-complete
                                source="loadTags($query)"
                                min-length="0"
                                load-on-empty="false"
                                max-results-to-show="90"
                                debounce-delay="100"
                                template="autocomplete-template">
                        </auto-complete>
                    </tags-input>
                </div>

                <script type="text/ng-template" id="autocomplete-template">
                    <div class="left-panel">
                        <span ng-class="data.flag" class="label label-info">{{data.flag}}</span>
                    </div>
                    <div class="mid-panel">
                        <span ng-bind-html="$highlight($getDisplayText())"></span>
                    </div>
                </script>

                <div class="btn-group col-sm-2" style="top: 5px;">
                    <input type="submit" ng-click="searchClicked()" value="Search assays"
                           class="btn btn-primary"/>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" target="_blank">Advanced search</a></li>
                    </ul>
                </div>
            </form>
        </div>

        <!-- Recommendations -->

        <div class="row col-sm-offset-1" style="padding-left: 10px;">
            <div ng-show="showRecommend && recommended.length > 0" class="col-sm-offset-2"
                 style="padding-left: 15px; padding-bottom: 30px;">
                <span>{{recommendText}}</span>
                <span ng-repeat="item in recommended">

                        <button ng-click="recommendedClicked(item)" class="btn btn-default btn-xs"
                                ng-class="item.flag+'B'" type="button">{{item.name}}
                        </button>
                </span>
            </div>
        </div>

        <!-- Navigation-->
        <table class="table table-bordered table-striped" style="padding-top: 30px;">
            <tbody>
            <tr>
                <td align="center" width="25%" ng-repeat="wk in workspaces" ng-class="{thisTab: currentWorkspace==wk}"

                    ng-click="changeCurrentWorkspace(wk)">
                    <h4 ng-class="{disabled: wk.active}"><a href="#">{{wk.name}}</a></h4>
                </td>
            </tr>
            </tbody>
        </table>



        <table class="table" id="tablePeaks"></table>
        <table class="table" id="tableProfiles">
            <div id="ilincs">
                <div class="form-inline" role="form">
                    <button id="ok" type="submit" class="btn btn-default disabled">Analyze in iLINCS</button>
                </div>
            </div>
        </table>

        <div id="tableRelations" class="days-hours-heatmap">

            <p>heatmap prototype comimng soon</p>
        </div>

        <!--<script type="text/javascript" src="app.js"></script>-->

        <div id="tableAPI">

        <h3>HTTP methods</h3>
        <hr/>
        <table data-toggle="table">
            <thead style="background: #D9EDF7">
            <tr>
                <th>Method</th>
                <th>Description</th>
                <th>Parameters</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>GET</code></td>
                <td>eh3.uc.edu/pilincs/api-panorama</td>

                <td>-</td>
            </tr>

            <tr>
                <td><code>POST</code></td>
                <td>eh3.uc.edu/pilincs/api-recommend</td>

                <td>-</td>
            </tr>

            </tbody>
        </table><br/>
        <pre><b>Example</b><br/>{API documentation is in progress...}</pre>
        </div>

    </div>

</body>
</html>