<!doctype html>

<html ng-app="plunker">

<meta charset="utf-8">
<title>Application</title>

<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jQuery -->
<script type='text/javascript' src='bower_components/jquery/dist/jquery.min.js'></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- AngularJS -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/myscript.js"></script>


<script>document.write('<base href="' + document.location + '" />');</script>
<!-- Ng-tags-input-->
<link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css"/>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>

<!-- Custom styles -->
<link rel="stylesheet" href="css/style.css">

<!-- Wenzhinxin Table -->
<link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.min.css">
<script src="bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="bower_components/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="bower_components/tableExport/index.js"></script>
<script src="bower_components/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>


<!-- D3js -->
<script src="bower_components/d3.v2/index.js"></script>

</head>

<body ng-controller="MainCtrl">
<div class="ribbon">
    <a href="https://github.com/sajmmon/Pilincs" target="_blank">View Source on GitHub</a>
</div>
<h1></h1>

<div class="container">
    <div class="row">
        <p class="span8 offset2">

        <div class="control-group">
            <form ng-submit="add()">
                <div class="row">
                    <div class="controls  col-sm-8" ng-click="searchClicked()">
                        <tags-input ng-model="tags" display-property="name" class="bootstrap" placeholder={{searchText}}>
                            <auto-complete source="loadTags($query)"
                                           min-length="0"
                            load-on-empty="false"
                            max-results-to-show="90"
                            debounce-delay="100"
                                           template="my-custom-template">
                            </auto-complete>
                        </tags-input>
                    </div>

                    <script type="text/ng-template" id="my-custom-template">
                        <div class="left-panel">
                            <span ng-class="data.flag" class="label label-info">{{data.flag}}</span>

                        </div>
                        <div class="mid-panel">
                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                        </div>
                        <div class="right-panel">
                            <!--<span>({{data.rank}})</span>-->
                            <!--<span>{{data.annotation}}</span>-->
                        </div>
                    </script>

                    <!-- Split button -->
                    <div class="btn-group col-sm-2" style="top: 5px;">
                        <input type="submit" value="Search assays" class="btn btn-primary"/>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle option</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" target="_blank">Advanced search</a></li>
                        </ul>
                    </div>

                </div>
            </form>
        </div>
        <h1></h1>

        <div class="row">
        <div ng-hide="hideRecommend" class="col-sm-offset-1">
            <span>You may like:</span>
            <span ng-repeat="item in recommended">
                        <button ng-click="recommendedClicked(item)" class="btn btn-default btn-xs" type="button">{{item}}</button>
                    </span>
            </div>
        </div>
        <h1></h1>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td align="center"><h4><a href="#" style="color: #286090;">Show as Table </a></h4></td>
                <td align="center"><h4><a href="#">Show as Network </a></h4></td>
                <td align="center"><h4><a href="#">Show as HeatMap </a></h4></td>
                <td align="center"><h4><a href="#">Show as OLAP </a></h4></td>
            </tr>
            </tbody>
        </table>
        <!--<p>{{message}}</p>-->
        <!--<div ng-show="{{showTable}}">-->


        <div id="toolbar">
            <div class="form-inline" role="form">
                <button id="show" class="btn btn-default">Show Profiles</button>

            </div>
        </div>
        <table id="table1"></table>

        <script>
            $(function () {
                $('#table1').bootstrapTable({
                    url: 'http://localhost:8080/pilincs/api-assays-paged/',
                    showColumns: 'true',
                    queryParams: 'postQueryParams',
                    pagination: 'true',
                    sidePagination: 'server',
                    showExport: 'true',
                    toolbar: '#toolbar',
                    detailView: 'true',
                    detailFormatter: 'detailFormatter',
                    columns: [{
                        field: 'id',
                        title: 'Id'
                    }, {
                        field: 'name',
                        title: 'Name',
                        formatter:'nameFormatter'
                    }, {
                        field: 'price',
                        title: 'Price',
                        sortable: true
                    }],
                    responseHandler: function (res) {
                        return res;
                    }
                });
            });
        </script>

        <script>
            function postQueryParams(params) {
                //params.tags = $scope.tags; // add param1
//                params.your_param2 = 2; // add param2
                console.log(JSON.stringify(params));
//                return JSON.stringify(params); // body data
                return params;
            }
        </script>
        <script>
            function detailFormatter(index, row) {
                var html = [];
                $.each(row, function (key, value) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                });
                return html.join('');
            }
        </script>
        <script>
            function nameFormatter(value, row) {
            var icon = row.id % 2 === 0 ? 'glyphicon-star' : 'glyphicon-star-empty';
//            return '<i class="glyphicon ' + icon + '"></i> ' + value;

                return  '<div id="graph'+row.id+'" class="aGraph" style="position:relative;top:0px;left:0; float:left; width:150px; height:30px;"></div>';
            }
        </script>
        <h3>Assays</h3>

        <table id="table"
               data-select-item-name="selectItemName"
               data-toggle="table"
               data-show-export="true"
               data-toolbar="#get"
               data-show-columns="true"
               data-side-pagination="server"
               data-pagination="true"
               data-page-list="[13]"
               class="table table-bordered table-striped"
               data-method="get"
               data-url="/pilincs/api-assays-paged/"
               data-show-export="true">

            <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>

                <th data-field="assayType">Assay</th>
                <th data-field="runIdUrl" data-visible="true">Skyline</th>
                <th data-field="peptideId">Peptide Id</th>
                <th data-field="replicateId">Replicate Id</th>
                <th data-field="cellId">Cell Id</th>
                <th data-field="pertiname">Pert Iname</th>
                <th data-field="pertDose" data-visible="false">Pert Dose</th>
                <th data-field="pertTime" data-visible="false">Pert Time</th>

                <th data-field="pertType" data-visible="false">Pert Type</th>
                <th data-field="pertVehicle" data-visible="false">Pert Vehicle</th>
                <th data-field="pubchemCid" data-visible="false">PubchemCid</th>

                <th data-field="value">Peak Area</th>
                <th data-field="sourceUrl">Chromatogram</th>
                <th data-field="pertId" data-visible="false">Pert Id</th>
                <th data-field="downloadUrl" data-visible="true">GCT file</th>
            </tr>
            </thead>
        </table>

        <script>
            var $table = $('#table1');
            $(function () {
                $table.on('load-success.bs.table', function () {
                    for(var i = 1;i<5;i++) {
                        var gname = "#graph"+i;
                        var graph = d3.select(gname).append("svg:svg").attr("width", "100%").attr("height", "100%");
                        var data = [9,2,1,3,8];
                        var x = d3.scale.linear().domain([0, 10]).range([0, 20]);
                        var y = d3.scale.linear().domain([0, 10]).range([0, 10]);
                        var line = d3.svg.line()
                                .x(function (d, i) {
                                    return x(i);
                                })
                                .y(function (d) {
                                    return y(d);
                                })
                        graph.append("svg:path").attr("d", line(data));
                    }
                });
            });
        </script>

        </div>
    </div>
</div>
</div>

</body>
</html>