<div class="workspaceContainer">
    <h3 style="margin-top:40px;">Overview</h3>
    <hr/>
    <table class="table table-bordered">
        <thead style="background: #D9EDF7">
        <tr>
            <th class="col-md-12">piLINCS portal</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Developed in University of Cincinnati by Szymon Chojnacki as his postdoctoral project under the supervision of Jarek Meller. </td>
        </tr>

        </tbody>
    </table>
</div>