<div class="workspaceContainer">
    <br/>

    <div class="col-lg-offset-5" ng-show="ctrl.showLoading">
        <button id="exploreMessage" style="align: center;" class="btn btn-default"><span
                class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
        </button>
    </div>

    <div class="col-sm-10">
        <svg id="explorer" width="900" height="550">
            <g id="background" style="fill: rgb(229, 231, 233);">
                <rect x="225" y="20" width="150" height="460" ></rect>
                <rect x="525" y="20" width="150" height="460" ></rect>
            </g>
            <g id="rowLabels" style="font-size: 14px;">
                <text x="10" y="5" transform="translate(0,130)" >P100</text>
                <text x="10" y="5" transform="translate(0,370)" >GCP</text>
            </g>
            <g id="colLabels" style="font-size: 14px;">
                <text x="-10" y="12" transform="translate(150,0)" >A375</text>
                <text x="-10" y="12" transform="translate(300,0)" >A549</text>
                <text x="-10" y="12" transform="translate(450,0)" >MCF7</text>
                <text x="-10" y="12" transform="translate(600,0)" >NPC</text>
                <text x="-10" y="12" transform="translate(750,0)" >PC3</text>
            </g>
            <g id="quantities" style="font-size: 11px;"></g>
            <g id="dots"></g>
            <g id="legendRect"></g>
            <g id="legendLabel"></g>
            <g id="oneDot">
                <text x="80" y="530" style="font-size: 12px;"> Hover over a bubble to see counts of replicates.</text>
            </g>
        </svg>
    </div>
    <div class="col-sm-2 well">

        <div>
            <div><b>Group by</b></div>
            <div class="radio" ng-repeat="group in ctrl.grouping">
                <label>
                    <input type="radio" value="{{group.id}}" ng-model="ctrl.groupRadio" selected="group.selected">
                    {{group.name}}
                </label>
            </div>
        </div>
        <br/>

        <div><b>Color by</b></div>
        <div class="radio" ng-repeat="color in ctrl.coloring">
            <label>
                <input type="radio" value="{{color.name}}" ng-model="ctrl.colorRadio" ng-change="ctrl.updateFilterFeature()">
                {{color.name}}
            </label>
        </div>
        <br/>

        <div ng-show="true">

        </div>
    </div>


</div>

